.p12{
  position: fixed;
  font-size: x-large;
  margin-top: -193px;
  color: red;
  font-family: fantasy;
}
.p1{
  position: fixed;
  margin-left: 112px;
  margin-top: -173px;
  font-size: small;
}
.p2{
  position: fixed;
  margin-left: 190px;
  margin-top: -98px;
  font-size: small;

}
.p3{
  position: fixed;
  margin-left: 218px;
  margin-top: 11px;
  font-size: x-large;
  color: red;
  font-family: fantasy;

}
.p4{
  position: fixed;
  margin-left: 191px;
  margin-top: 118px;
  font-size: small;

}
.p5{
  position: fixed;
  margin-left: 117px;
  margin-top: 204px;
  font-size: small;

}
.p6{
  position: fixed;
  margin-top: 239px;
  font-size: x-large;
  color: red;
  font-family: fantasy;

}
.p7{
  position: fixed;
  margin-left: -116px;
  margin-top: 210px;
  font-size: small;

}
.p8{
  position: fixed;
  margin-left: -198px;
  margin-top: 112px;
  font-size: small;

}
.p9{
  position: fixed;
  margin-left: -218px;
  font-size: x-large;
  color: red;
  font-family: fantasy;

}
.p10{
  position: fixed;
  margin-left: -195px;
  margin-top: -95px;
  font-size: small;

}
.p11{
  position: fixed;
  margin-left: -117px;
  margin-top: -177px;
  font-size: small;

}
p{
  font-weight: bold;

}

.divclock{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 2px solid rgb(63, 20, 220); */

}

.divnum{
  width: 240px;
  height: 240px;
  border-radius: 2000px;
  border: 20px solid crimson;
  /* background-color: cyan; */
  display: flex;
  justify-content: center;
  align-items: center
}

.digital{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 15px;
}
h1{
  margin-bottom: 10px;
}
.divmin{
  width: 20px;
  height: 20px;
  border-radius: 2em;
  margin-left: 67px;
  margin-top: 26px;
  /* background-color: ; */
  /* z-index: -1; */
}
h5{
margin-left: 48px;
/* color: white; */
}