.p12{
  margin-left: 95px;
  margin-top: -27px;
}
.p1{
  margin-left: 162px;
  margin-top: -14px;
}
.p2{
  margin-left: 202px;
  margin-top: 25px;
}
.p3{
  margin-left: 215px;
  margin-top: 41px;
}
.p4{
  margin-left: 198px;
  margin-top: 41px;
}
.p5{
  margin-left: 158px;
  margin-top: 24px;
}
.p6{
  margin-left: 100px;
  margin-top: -17px;
}
.p7{
  margin-left: 40px;
  margin-top: -45px;
}
.p8{
  margin-left: -9px;
  margin-top: -80px;
}
.p9{
  margin-left: -24px;
  margin-top: -95px;
}
.p10{
  margin-left: -14px;
  margin-top: -95px;
}
.p11{
  margin-left: 31px;
  margin-top: -79px;
}
p{
  font-weight: bold;

}
.digital{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 15px;
}
h1{
  margin-bottom: 10px;
}
.divmin{
  width: 20px;
  height: 20px;
  border-radius: 2em;
  margin-left: 90px;
  margin-top: 87px;
  background-color: black;
  
}