.p12{
  margin-left: 125px;
  margin-top: -25px;
}
.p1{
  margin-left: 190px;
  margin-top: -20px;
}
.p2{
  margin-left: 238px;
  margin-top: 25px;
}
.p3{
  margin-left: 263px;
  margin-top: 50px;
}
.p4{
  margin-left: 256px;
  margin-top: 50px;
}
.p5{
  margin-left: 214px;
  margin-top: 44px;
}
.p6{
  margin-left: 134px;
  margin-top: -5px;
}
.p7{
  margin-left: 60px;
  margin-top: -45px;
}
.p8{
  margin-left: -6px;
  margin-top: -93px;
}
.p9{
  margin-left: -24px;
  margin-top: -107px;
}
.p10{
  margin-left: -8px;
  margin-top: -107px;
}
.p11{
  margin-left: 44px;
  margin-top: -85px;
}
p{
  font-weight: bold;

}
.digital{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 15px;
}
h1{
  margin-bottom: 10px;
}
.divmin{
  width: 20px;
  height: 20px;
  border-radius: 2em;
  margin-left: 116px;
  margin-top: 103px;
  background-color: black;
  
}